body{
    font-family: roboto,sans-serif;
    margin: 0px;
}

a{
    color:rgb(122, 131, 135);
    text-decoration: none;
  }
a:hover{
    color:rgba(5, 86, 148, 0.788);
    }

/* nav bar styles */
.navbar{
    background-color:#161825;
    width: 100%;
    height: 6%;
    float:top;
    overflow: hidden;
    position: fixed;
}

.img_srch{
    position:relative; 
    background-color:rgb(97, 100, 101);
    width: 31px;
    height: 89%; 
    float:right;
}

.imgsize_sr{
    background-color:rgb(186, 187, 187);
    width: 30px;
    height: 30px;
}

.imgsize_bk{
    width: 40%;
    height: 100%;
}

.imgsize_cht{
    width: 40%;
    height: 100%;
}

.div0{
    width: 7%;
    height: 100%;
    float:left;
}

.div1{
    width: 50%;
    float: left;
    margin-top:3px;
}

.div2{
    float: right;
    margin-right:30px;
    margin-top: 3px;
    font-size:24px;
    color:rgb(122, 131, 135)
}

.left_bar{
    background-color:#86c2d4;
    width: 3%;
    height: 100%;
    position: fixed;
}

.search_bar{
    position: relative;
    width: 355px;
    height: 80%;
    float:left;
    margin-left:30%;
    margin-top:5.5px;
    margin-right:25%;
}
/* nave bar styles end here */



.div3{
    width:90%;
    /* height:95%; */
    float: left;
    margin-left: 60px;
    margin-top:30px;
}

.div4{
    float:right;
    width:20%;
}


table{
    border: 5px solid rgb(145, 17, 117);
    width: 80%;
    border-radius: 20px;
}

th, td {
    padding-top:10px;
    text-align: left;
}

td{
border-bottom: 0pt solid rgb(83, 7, 64);
height:20px;
}

th{
    width:5%;
    border-bottom: 0pt solid rgb(142, 5, 114);
    align-items: center;
}

.btn{
    height:6%;
    width: 50%;
    background-color: rgb(54, 4, 43);
    border: none;
    border-radius: 10px;
    color:white;
    margin-top:30%;
    
}
.btn:hover{
    background-color:rgb(52, 4, 44);
    color:white;
}

input{
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    border-radius: 20px;
    border:0px;
    padding: 10px;
    background-color:rgb(252, 233, 254)
    
}
.search_bar input{
    background-color: rgb(185, 185, 185);
    padding-left: 10px;
    border: none;
}
