/* Style the form */
@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  /* overflow: hidden; */
}

body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

#regForm {
  background-color: #ffffff;
  margin: 0 auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

/* Style the input fields */
input {
  padding: 10px;
  width: 60%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/*-------------------------- Mylistings------------------------------- */
.listbox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

main {
  position: absolute;
  left: 240px;
  top: 80px;
  width: 86%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.left-col img {
  height: 150px;
  width: 150px;
  border-radius: 20px;
}

.addbtn-container {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  margin-top: 80px;
}

.list-container {
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(199, 195, 195);
  padding: 15px;
  width: 70%;
  max-height: 720px;
  justify-content: space-between;
  margin-top: 10px;
  border-radius: 20px;
  border-width: 2px;
}

.left-mid {
  display: flex;
  flex-direction: row;
  width: 80%;
  gap: 30px;
  align-items: top;
}
.mid-col{
  width:100%;
}
.right-col{
  display:flex;
  flex-direction: column;
 align-items: right;
}

button {
  background-color: #ffffff;
  height: 40px;
  width: 130px;
  border-radius: 20px;
  padding: 0px;
  margin: 10px;
  border-width: 1px;
}

.updatebtn {
  outline: 3px solid blue;
}

.addbtn {
  border-color: #379e54;
}

.deletebtn {
  border-color: #F02222;
}

.discardbtn {
  border-color: #F02222;
}

/*-------------------------- Add Listings------------------------------- */
.submitbtn {
  border-color: #379e54;
}

#addform {
  border: 1px solid rgb(199, 195, 195);
  margin-top: 10%;
  width: 700px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.add {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}
.stage{
  margin:10px;
  padding: 10px;
}

input {
  width: 650px;
}

.description {
  height: auto;
  place-items: top;
  margin-bottom: 20px;
}

.sub-discard-btn {
  display: flex;
  flex-direction: row;
  margin-bottom: 10%;
  /* btn deka aath karanna orne */
}

.topic {
  font-size: 20px;
  margin-bottom: 10px;
  
}

/*-------------------------------dashboard----------------------------------------*/
.card {
  border-radius: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 70%;
}

.dashimg {
  border-radius: 20px 20px 0 0;
  height: 125px;
  width: 100%;
}

.card:hover {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

.grid-container {
  margin-top: 20px;
  display: grid;
  row-gap: 50px;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item {
  font-size: 30px;
  height: 175px;
  width: 400px;
  text-align: center;
  justify-content: center;
  display: flex;
}

.grid-item:hover {
  transform: scale(1.1);
}

a {
  text-decoration: none;
  color: #000;
}

a:visited {
  color: #000;
  /* background-color: transparent; */
  text-decoration: none;
}

a:link {
  color: #000;
  background-color: transparent;
  text-decoration: none;
}

/*---------------------------------profile page ---------------------------------------- */
header {
  text-align: center;
  margin-bottom: 50px;
}

.profile-info {
  align-items: flex-start;
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.profileName {
  font-size: 30px;
  font-weight: bold;
}

.skills,
.services,
.reviews {
  margin-bottom: 50px;
}

li {
  margin-bottom: 10px;

}

.profileMain {
  position: absolute;
  left: 240px;
  top: 80px;
  width: 86%;
  flex-direction: column;
  align-items: center;
}

.profileDisplay {
  position: absolute;
  top: 82px;
  left: 248px;
}

.profileDisplay div {
  padding: 30px;
}

.image {
  display: flex;
  align-items: center;
}

.imageEdit {
  display: flex;
  flex-direction: column;
}

.profileDetails {
  display: flex;
  flex-direction: row;

}

.details {
  display: flex;
  flex-direction: row;
  /* background-color: rgb(98, 190, 219); */
  margin-right: 30px;
  gap: 20px;
}



/* update form */

.popupDialog {
  left: 50%;
  top: 40%;
  transform: translate(-50%, -40%);
  border: none;
  background-color: rgb(156, 222, 243);
  border-radius: 5%;
  
}

.popup>form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
}

.loginDetails {
  background-color: rgb(98, 190, 219); 

}

.upBttn {
  background-color: #40f673;
  border: none;
  box-shadow: 2px 3px;

}

.upBttn:hover {
  background-color: #009f2d;
}

.updatebttn{
  background-color: #40f673;
  border: none;
  box-shadow: 2px 3px;
  height: 40px;
  width: 130px;
  border-radius: 20px;
  padding: 0px;
  margin-top: 10px;
  border-width: 1px;
}

.updatebttn:hover {
  background-color: #009f2d;
}

.closeBttn{
  background-color: #f64040;
  border: none;
  box-shadow: 2px 3px;

}

.closeBttn:hover {
  background-color: #570808;
}

.updatFormButtonAlign{
  display: flex;
  padding-left: 370px;
}

.closeBttonAlign{
  padding-left: 20px;
}

.popupDialog::-webkit-scrollbar{
  width: 20px;
}

.updateFormAlign{
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.buttonLink:link {
  text-decoration: none;
}


/* Progressbar starts here*/

.progressbar { 
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  counter-reset: step;
  margin: 1rem;
  overflow-y: scroll;
  max-height: 100px;
 /* try to put a border later */
}

.progressbar::before,
/* the progress line is here */
.progress {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%); 
  width: 1%;
  background-color: #dcdcdc;
  z-index: -1;
  left:0.85rem;
}
.progressbar::before{
  /*9 wenuwata datbase eken step gaana aran daaanna - setp+1*/
  height:calc(4rem*9); 
}
.progress {
  background-color: #2BA137;
  width: 1%;
  transition: 0.3s;
}
/* these are the circles */
.progress-step {
  width: 2rem;
  min-height: 2rem;
  background-color: #dcdcdc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
/* step numbers are here */
.progress-step::before { 
  counter-increment: step;
  content: counter(step);
  font-size: x-small;
}

.progress-step::after {
  content: attr(data-title);
  position: absolute;
  left: 3rem;
  font-size: 1rem;
  color: #666;
}
/* this is the adding factor in the js */
.progress-step-active {
  background-color: #2BA137;
  color:#f3f3f3;
}

.btns-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0rem;
  font-weight:50;
  color: #666;
}

.btn  {
  padding: 0.2rem;
  margin: 2px;
  display: block;
  text-decoration: none;
  background-color: #2BA137;
  color: #a22222;
  text-align: center;
  border-radius: 0.80rem;
  cursor: pointer;
  transition: 0.3s;
  width:100px;
  font-size: 1rem;
}
.btn:hover {
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px #2BA137;
}
.btn:link {
  border: 1px solid #000;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: black; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

/* Progressbar ends here*/

/*Listing Statistics page*/
.listingStat {
  overflow: auto;
  width: 100%;
  display: flex;
  height: 80%;
  flex-direction: column;
  align-items: center;
}
