/* Style the form */
@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body {
  min-height: 100vh;
  /* overflow: hidden; */
}

body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

#regForm {
  background-color: #ffffff;
  margin: 0 auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

/* Style the input fields */
input {
  padding: 10px;
  width: 60%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/*-------------------------- Mylistings------------------------------- */
.listbox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
main{
  position: absolute; 
  left: 240px;
  top:80px;
  width:86%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.left-col img{
  height: 150px;
  width: 150px;
  border-radius: 20px;
}

.addbtn-container{
  width:70%;
  display: flex;
  justify-content: flex-end;
  margin-top: 80px;
}

.list-container{
  display:flex;
  flex-direction: row;
  border: 1px solid rgb(199, 195, 195);
  padding: 10px;
  width:70%;
  justify-content: space-between;
  margin-top: 10px;
  border-radius: 20px;
  border-width: 2px;
}
.left-mid{
  display:flex;
  flex-direction: row;
  width: 80%;
  gap: 30px;
  align-items: top;
}
button{
background-color:#ffffff;
height:40px;
width:130px;
border-radius:20px;
padding: 0px;
margin-top: 10px;
border-width: 1px;
}
.updatebtn{
  border-color: #151CB9;
} 
.addbtn{
  border-color: #379e54;
}
.deletebtn{
  border-color: #F02222;
}
.discardbtn{
  border-color: #F02222;
}

/*-------------------------- Add Listings------------------------------- */
.submitbtn{
  border-color: #379e54;
}

#addform{
  border: 1px solid rgb(199, 195, 195);
  margin-top: 10%;
  width: 700px;
  display: flex;
  flex-direction: column;
  gap: 30px; 
  align-items: center;  
}
.add{
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}
input{
  width: 650px;
}
#description{
  height: 200px;
  place-items: top;
}

.sub-discard-btn{
  display: flex;
  flex-direction: row;
  margin-bottom: 10%;                  /* btn deka aath karanna orne */
}
#topic{
  font-size: 20px;
  font-weight: 20px;
}

/*-------------------------------dashboard----------------------------------------*/
.card {
  border-radius: 20px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 70%;
  }
  
  .dashimg{
    border-radius: 20px 20px 0 0;
    height: 125px;
    width:100%;
  }
  
  .card:hover {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }

  .grid-container {
    margin-top: 20px;
    display: grid;
    row-gap: 50px;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  
  .grid-item {
    font-size: 30px;
    height:175px;
    width:400px;
    text-align: center;
    justify-content: center;
    display:flex;
  }

  .grid-item:hover{
    transform: scale(1.1);
  }



/*-------------------------------Stat page----------------------------------------*/
  .stat-container {
    margin-top: 20px;
    margin-bottom: 20px ;
    display: grid;
    row-gap: 50px;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }

 

  .stat-item {
    font-size: 30px;
    height:175px;
    width:400px;
    text-align: center;
    justify-content: center;
    display:flex;
  }

  .stat-item:hover{
    transform: scale(1.1);
  }

  .scard {
    border-radius: 20px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      width: 70%;
    }


/*profile page */
header {
  text-align: center;
  margin-bottom: 50px;
}

.profile-info{
  align-items:flex-start;
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.profileName{
  font-size: 30px;
  font-weight: bold;
}

.skills, .services, .reviews {
  margin-bottom: 50px;
}

li {
  margin-bottom: 10px;

}

.profileMain{
  position: absolute; 
  left: 240px;
  top:80px;
  width:86%;
  flex-direction: column;
  align-items: center;
}

.profileDisplay {
  position: absolute;
  top: 82px;
  left: 248px;
}

.profileDisplay div{
  padding: 30px;
}
.image {
  display: flex;
  align-items: center;
}
.imageEdit{
  display: flex;
  flex-direction: column;
}
.profileDetails{

  margin-left: 40%;
}
.details{
  display: flex;
  flex-direction: column;
}



/* update form */

.popup{
  left:50%;
  top: 40%;
  transform: translate(-50%, -40%);
}

.popup > form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap:1rem;
}

.middle{
  margin-top: 8%;
  margin-left:-80%;
  z-index: 1;
  border: #ffffff;
  
}

.second{
  margin-top: -3.6%;
  margin-left: 43%;
}

.third{
  margin-top: -3.6%;
  margin-left: 57%;
}

.fourth{
  margin-top: -3.6%;
  margin-left: 70%;
}


.toptop{
  margin-top: 0.8%;
  margin-left: 40%;
  align-items: center;
}

.button1{
 
  border-style: none;

}

.mid-but{
  border-style: none;
  background-color:#77005d;
  
}

.table1{
  margin-left: 28%;
  margin-top: 2%;
  border: #00010c;
}

table  {
  border: 1px solid black;
}

.table2{
  margin-left: 28%;
  margin-top: 2%;
 
}

.tbtn{
  margin: 0%;
}


.progress__container {
  
  height: 80px;
  max-width: 50%;
  position: relative;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.progress__container::before {
  content: "";
  height: 80px;
  width: 100px;
  
  background-color: #ced6d5;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
@media (min-width: 80px) {
  .progress__container {
    width: 100px;
    height: 20px;
    flex-direction: row;
  }
  .progress__container::before {
    width: 50%;
    height: 0.2rem;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}
.progress__bar {
  height: 0%;
  width: 100px;
  background-color: #00bfa6;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  transition: 0.4s ease;
}
@media (min-width: 810px) {
  .progress__bar {
    width: 0%;
    height: 0.2rem;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}
.progress__circle {
  width: 50px;
  height: 50px;
  aspect-ratio: 1;
  color: #2f2e41;
  background-color: #ced6d5;
  border: 1px solid #ced6d5;
  border-radius: 50%;
  font-size: 40px;
  align-items: center;
  align-content: center;
  transition: 0.4s ease;
  position: relative;
  place-content: center;
}
.progress__circle.active {
  color: #00bfa6;
  border: 0.2rem solid #00bfa6;
  background-color: #2f2e41;
  box-shadow: #2f2e41 0px 0px 0px 5px, #00bfa6 0px 0px 10px 12px;
  align-content: center;
}
.progress__span {
  position: absolute;
  left: 47%;
  margin-top: 27%;
  transform: translateX(-50%);
  text-align: center;
}

.container {
  margin-top: 50%;
  margin-left: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 40px;
  align-content: center;
}

.carttbl{
  border: #ffffff;
 
}

.carthed{
  background-color: #77005d;
  align-content: center;
  text-align: center;
  border-radius: 50%;
  

}

.tborder{
  border-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.tborder1{
  border-radius: 20px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.item-border{
  border-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.item-border1{
  border-radius: 20px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.detail-border{
 
  border-color: #379e54;
  align-content: center;
  text-align: center;
}


/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  margin-right: 8%;
  margin-bottom: 3%;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 2px solid #d40000;
  z-index: 9;
  border-radius: 20px;
}

/* Add styles to the form container */
.form-container {
  max-width: 850px;
  height: 460px;
  padding: 10px;
  background-color: white;
  border-radius: 20px;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 800px;
  height:250px;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: 1px solid #000000;
  border-radius: 20px;
  background: #ffffff;
  text-align: justify;
  align-content: flex-start;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ffffff;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
  width: 400px;
  height: 60px;
  text-align: center;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.complete-rate{
  width: 70px;
  height: 70px;
  aspect-ratio: 1;
  color: #070707;
  background-color: #ffffff;
  border: 2px solid #d40303;
  border-radius: 50%;
  font-size: 40px;
  align-items: center;
  align-content: center;
  transition: 0.4s ease;
  position: relative;
  place-content: center;
}

.percentage{
  font-size:20px; 
  margin-top: 14%;
}

.date{
  font-size:12px; 
  margin-top: -25%;
}

.total{
  font-size:12px; 
  margin-top: -5%;
}

.reason-btn{
  border-color: #9d03cc;
}

.cancel-tbl{
  border: #ffffff;
  border: 5px;
  
}

.back{
  align-items: left;

}

