* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    align-items: center;
    background: #fff;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    overflow-y: hidden;
  }
  
  .container {
    padding-left: 40px;
    padding-top: 70px;
    background: #fff;
  }
  
  .navlogo img {
    width: 80px;
    height: 70px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -4px;
    float: left;
    display: inline-flex;
    border-radius: 15px;
  }
  .navright img {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    display: inline-flex;
    float: right;
  }
  .navbar {
    border: solid #b8b894;
    height: 64px;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1100;
    background-image: url(product_img/backimg.jpg);
  }
  
  .navcenter {
    text-align: center;
    display: inline-flex;
    float: right;
    margin-top: -5px;
  }
  .navcenter ul {
    display: inline-flex;
    color: rgb(255, 255, 255);
    list-style: none;
  }
  
  .navcenter ul li, .navcenter .dropdown {
    margin-top: 0px;
    width: fit-content;
    padding: 0px;
  }
  .navcenter ul li:hover {
    border-radius: 4px;
    background-color: #adadeb;
  }
  
  .navcenter ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }

  .navcenter button{
    border: 0px;
    color: white;
    background: none;
  }

  .Servicemenu {
    background: #2c2e57;
    display: none;
    text-align: left;
    align-items: right;
    position: absolute;
    width: fit-content;
    z-index: 5;
  }
  
  .navcenter ul li:hover .servicemenu {
    display: block;
    position: absolute;
    margin-left: -20px;
    margin-top: 0px;
  }
  .navcenter ul li:hover .servicemenu a {
    display: block;
    margin: 5px;
    margin-left: 5px;
  }
  .navcenter ul .servicemenu a:hover{
    background-color: #adadeb;
    padding:5px;
  }
  .table-container {
    display: flex;
    overflow: hidden;
    height: calc(100vh - 64px);
    width: 250px;
    margin-top: 64px;
  }
  
  .sidebar {
    display: flex;
    align-items: left;
    width: 100%;
    background-color:lightslategrey;
  }
  
  .main{
    width: calc(100% - 250px) !important;
    height: calc(100% - 64px);
    overflow-y: auto;
    position: absolute;
    left: 250px;
    top: 64px;
    overflow-y: hidden;
  }
  
  .sidebar img {
    width: 25px;
    height: 25px;
    margin-right: 8px;
    margin-bottom: -5px;
  }
  .sidebar ul {
    height: 100%;
    margin-bottom: 100px;
    padding: 0;
    margin: 2px;
    list-style: none;
  }
  .sidebar ul li {
    padding: 7px 10px;
    width: 200px;
  }
  .sidebar ul li a {
    font-size: 14px;
    text-decoration: none;
    color: #000;
  }
  .sidebar ul li:hover {
    background: #adadeb;
    border-radius: 4px;
  }
  .sidebar li.active {
    background-color:cadetblue;
    border-radius: 4px;
}
.registerbox{
    left: 50px;
    top: 70px;
    width:90%;
    height: 100%;
    position:absolute;
    padding-left: 50px;
    z-index: 1;
    overflow-y: auto;
    padding-bottom: 100px;
}

.listing-card {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  background-color:cadetblue;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 2px solid rgba(0, 0, 0, 0.3);
}
tr{

    height:30px;
}

td{
    color:#fff;
    padding-right: 20px;
}
td input[type="text"]{
    width:100%;
}
h3{
    font-size: 11px;
    font-weight: 6;
}
h1 {
  padding: 10px 0;
}

h2 {
  padding: 20px;
  font-size: 23px;
}
h4 {
  padding: 10px 0;
  font-size: 20px;
  text-align: center;
}
h5 {
  font-size: 12px;
  color: #000;
}
.footer {
  width: 1523px;
  background: #b8b894;
  padding: 5px 10px;
  position: absolute;
  left: 0px;
  top: 800px;
  margin-bottom: 0px;
  margin-right: 0px;
  height: 50px;
}
.footerleft {
  margin-left: 0px;
  margin-top: 20px;
}
.footerright {
  text-align: right;
  width: 100%;
  margin-top: -15px;
}
.logo {
    width: 150px;
    height: 60px;
    border-radius: 20px;
  }
  .service {
    width: 800px;
    height: 600px;
  }

  .reject-button, .accept-button{
    font-size: 15px;
    padding: 10px;
    border-radius: 20px;
    border-color: rgb(39, 61, 227);
    text-align: center;
  }

  .reject-button:hover, .accept-button:hover{
    background-color: rgb(39, 61, 227);
    color: #fff;
  }

  /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: none;
}