.box {
	width: 500px;
	height: 480px;
	border: 0px solid rgb(33, 20, 65);
	background: rgb(21, 20, 67);
	margin-left: 35%;
	margin-top: 5%;
    border-radius: 10px;
}

.logo img{
	margin-left: 10%;
	margin-top: 2%;
	width:400px;
	height:400px;
}

.div2 {
	height: 20px;
	width: 100px
}

.placeholder{
	border: #000;
	padding: 10px;
	font-size: 20px;
	width: 300px;
	height:60px;
	margin-top:25%;
	margin-left:15%;
	text-align: center;
	border-radius: 40px;
}
.placeholder1{
	border: #000;
	padding: 10px;
	font-size: 20px;
	width: 300px;
	height:60px;
	margin-top:8%;
	margin-left:15%;
	text-align: center;
	border-radius: 40px;
}

.button1{
	border: #000;
	padding: 10px;
	font-size: 20px;
	width: 300px;
	height:60px;
	margin-top:10%;
	margin-left:15%;
	text-align: center;
	border-radius: 40px;
	background-color: aqua;
}
.login input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    width:100px;
    background: #fff;
    font-size: 14px;
    color: #000;
    border-radius: 10px;
    margin-left: 30px;
}

.login input[type="submit"]:hover{
    cursor: pointer;
    background: #669999;
    color: #000;
}
.rem{
	color:white;
}

.div3{
    margin-top: 10%;
	margin-left: 5%;
	font-size: 20px;
}

.check{
	width:20px;
	height:20px;

}
.forgot{
	margin-top: 10%;
	margin-left: 15%;
	font-size: 20px;
	color:white;
	font-family: Arial, Helvetica, sans-serif;
}

	