@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
    font-size:16px;
}
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size:16px;
    
} */
body{
    overflow-x:hidden; 
}

#logoimg{
    width: 60px;
    height: 60px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    min-width: 240px;
    background: #ffffff;
    transition: all 0.5s ease;
    border:  1px solid black; /*meka hadannaaaa */
    box-shadow:  1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.sidebar.active {
    width: 60px;

}

.sidebar .logo-details {
    height: 70px;
    display: flex;
    justify-content: center;
}

.sidebar .logo-details i {
    font-size: 28px;
    font-weight: 500;
    color: rgb(12, 12, 12);
    min-width: 60px;
    text-align: center
}

.sidebar .logo-details .logo_name {
    color: rgb(14, 13, 13);
    font-size: 24px;
    font-weight: 500;
}

.sidebar .nav-links {
    margin-top: 10px;
}

.sidebar .nav-links li {
    position: relative;
    list-style: none;
    height: 50px;
}

.sidebar .nav-links li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
}

.sidebar .nav-links li a.active {
    background: #3875e7;
}

.sidebar .nav-links li a:hover {
    background: #4782ee;
}

.sidebar .nav-links li i {
    min-width: 60px;
    text-align: center;
    font-size: 18px;
    color: rgb(3, 3, 3);
}

.sidebar .nav-links li a .links_name {
    color: rgb(15, 15, 15);
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
}

.sidebar .nav-links .log_out {
    position: absolute;
    bottom: 65px;
    width: 100%;
}

.home-section {
    
    position: absolute;
    background: #ffffff;
    min-height: 100vh;
    width: 100%;
    left: 240px;
    transition: all 0.5s ease;
   
}

.sidebar.active~.home-section {
    width: 85% ;
    /* left: 60px; */
}

.searchContainer{
    margin-top: 100px;
}

.searchBar1 input[type="text"] {
    width: 700px;
}

form.searchBar1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-section nav {

    justify-content: space-between;
    height: 80px;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    position: fixed;
    
    z-index: 100;
    padding: 0 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;
}
.sidebar{
    margin-top: 65px;
}
.sidebar.active~.home-section nav {
    /* left: 60px; */
    width: 100%;
}

.home-section nav .sidebar-button {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
}

nav .sidebar-button i {
    font-size: 35px;
    margin-right: 10px;
}

.home-section nav .search-box {
    position: relative;
    height: 50px;
    max-width: 550px;
    width: 100%;
    margin: 0 20px;
}

nav .search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    background: #ffffff;
    border: 2px solid #EFEEF1;
    border-radius: 6px;
    font-size: 18px;
    padding: 0 15px;
}



.home-section nav .profile-details {
    display: flex;
    align-items: center;
    background: #ffffff;
    height: 50px;
    padding: 0 5px 0 2px;
}

nav .profile-details img {
    height: 40px;
    width: 40px;
    border-radius: 6px;
    object-fit: cover;
}

nav .profile-details .admin_name {
    font-size: 15px;
    font-weight: 500;
    color: #333;
    margin: 0 10px;
    white-space: nowrap;
}

nav .profile-details i {
    font-size: 25px;
    color: #333;
}

.home-section .home-content {
    position: relative;
    padding-top: 104px;
}

.home-content .overview-boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
    margin-bottom: 26px;
}

.overview-boxes .box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / 4 - 15px);
    background: #fff;
    padding: 15px 14px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.overview-boxes .box-topic {
    font-size: 20px;
    font-weight: 500;
}

.home-content .box .number {
    display: inline-block;
    font-size: 35px;
    margin-top: -6px;
    font-weight: 500;
}

.home-content .box .indicator {
    display: flex;
    align-items: center;
}

.home-content .box .indicator i {
    height: 20px;
    width: 20px;
    background: #8FDACB;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    margin-right: 5px;
}

.box .indicator i.down {
    background: #e87d88;
}

.home-content .box .indicator .text {
    font-size: 12px;
}

.home-content .box .cart {
    display: inline-block;
    font-size: 32px;
    height: 50px;
    width: 50px;
    background: #cce5ff;
    line-height: 50px;
    text-align: center;
    color: #66b0ff;
    border-radius: 12px;
    margin: -15px 0 0 6px;
}

.home-content .box .cart.two {
    color: #2BD47D;
    background: #C0F2D8;
}

.home-content .box .cart.three {
    color: #ffc233;
    background: #ffe8b3;
}

.home-content .box .cart.four {
    color: #e05260;
    background: #f7d4d7;
}

.home-content .total-order {
    font-size: 20px;
    font-weight: 500;
}




/* Responsive Media Query */
@media (max-width: 1240px) {
    .sidebar {
        width: 60px;
    }

    .sidebar.active {
        width: 220px;
    }

    .home-section {
        width: calc(100% - 60px);
        left: 60px;
    }

    .sidebar.active~.home-section {
        /* width: calc(100% - 220px); */
        overflow: hidden;
        left: 220px;
    }

    .home-section nav {
        width: calc(100% - 60px);
        left: 60px;
    }

    .sidebar.active~.home-section nav {
        width: calc(100% - 220px);
        left: 220px;
     }
}

@media (max-width: 1000px) {
    .overview-boxes .box {
        width: calc(100% / 2 - 15px);
        margin-bottom: 15px;
    }
}

@media (max-width: 700px) {

    nav .sidebar-button .dashboard,
    nav .profile-details .admin_name,
    nav .profile-details i {
        display: none;
    }

    .home-section nav .profile-details {
        height: 50px;
        min-width: 40px;
    }

    .home-content .sales-boxes .sales-details {
        width: 560px;
    }
}

@media (max-width: 550px) {
    .overview-boxes .box {
        width: 100%;
        margin-bottom: 15px;
    }

    .sidebar.active~.home-section nav .profile-details {
        display: none;
    }
}
.top li{
    list-style: none;
    display: inline-block;
    padding: 10px;
    justify-content: center;
    position: relative;
}

.profile-details
.drop {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

/* filter */
.filter{
    margin-top: 25px;
    padding-left: 10px;
}
.filter label{
    font-size: 14px;
    padding: 0 10px;
}
.filterItem{
    display: inline-flex;
}
/* search bar */
.searchBar1 input{
    border-radius: 50px 0 0 50px;
    border: 3px solid #F05E22;
}
.searchbutton{
    border-radius: 0 50px 50px 0;
    width: 100px;
    color:  #ffffff;
    background-color: #F05E22;
    border: 3px solid #F05E22;
}
/*middle part*/
.listbox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }
  main{
    position: absolute; 
    left: 240px;
    top:80px;
    width:86%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .left-col img{
    height: 150px;
    width: 150px;
    border-radius: 20px;
  }
  .addbtn-container{
    width:70%;
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
  }
  
  .list-container{
    display:flex;
    flex-direction: row;
    border: 1px solid rgb(199, 195, 195);
    padding: 10px;
    width:70%;
    justify-content: space-between;
    margin-top: 10px;
    border-radius: 0px;
    border-width: 2px;

  }
  .left-mid{
    display:flex;
    flex-direction: row;
    width: 80%;
    gap: 30px;
    align-items: top;
  }
  
  /*views and stars*/
  .rating span{
    font-size: 10px;
  }
  .rating i {
    font-size: smaller;
    color: #ffc233;
  }
  .row{
    width: 260px;
    
  }
  .column {
    float: left;
    width: 50%;
    font-size: 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .viewDetailsBtn{
    font-size: 12px;
    padding: 5px;
    width: 200px;
    margin-top: 20px;
    background-color: rgba(21, 28, 185, 0.81);
    border: 0px;
    color: #fff;
    border-radius: 40px;
  }
.level{
    border: 1px solid #F05E22;
    border-radius: 10px;
    color: #F05E22;
    text-align: center;
}
/* css for middle column in the list-container */
.topic{
    font-size: 16px;
    font-weight: 500;
}
.description{
    font-size: 14px;
}
.discount span{
    color: #2BA137;
}
.serviceprovider img{
 border-radius: 20px;
}
