/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main-container{
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
}





/*card list*/
.cardBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.cardBox .card {
    position: relative;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.3);
}

.cardBox .card .numbers {
    position: relative;
    font-weight: 500;
    font-size: 2.5rem;
}

.cardBox .card .cardName {
    font-size: 1.1rem;
    margin-top: 5px;
}

.cardBox .card .iconBx {
    font-size: 3.5rem;
}

.tbl-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 30px;
}

.lt{
    width: 65%;
    border-radius: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.rt{
    width: 25%;
    border-radius: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.tb{
    padding: 10px;
}

.chart {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.chart1{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.chart2{
    width: 50%;
    display: flex;
    flex-direction: column;
}

canvas{
    padding: 10px;
}

