.main{
  width: calc(100% - 300px) !important;
  height: calc(100% - 100px);
  position: absolute;
  left: 300px;
  top: 100px;
  overflow-y: auto;
}
.card {
  display: flex;
  position: relative;
  width: 100%;
}

.card table td {
  padding: 12px;
}

.card table td img {
  height: 170px;
  width: 320px;
  object-fit: cover;
}

.card table td a {
  margin-bottom: 30px;
  color: black;
  text-decoration: none;
}
.card table td:hover {
 box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
}

h1 {
  padding: 10px 0;
}

h2 {
  padding: 10px 0;
  font-size: 16px;
}
h4 {
  padding: 10px 0;
  font-size: 20px;
  text-align: center;
}
h5 {
  font-size: 12px;
  color: #000;
}
.footer {
  width: 1523px;
  background: #b8b894;
  padding: 5px 10px;
  position: absolute;
  left: 0px;
  top: 800px;
  margin-bottom: 0px;
  margin-right: 0px;
  height: 50px;
}
.footerleft {
  margin-left: 0px;
  margin-top: 20px;
}
.footerright {
  text-align: right;
  width: 100%;
  margin-top: -15px;
}
.logo {
  width: 150px;
  height: 60px;
  border-radius: 20px;
}
.service {
  width: 800px;
  height: 600px;
}

tr {
  height: 30px;
}

td {
  padding-right: 20px;
}
td input[type="text"] {
  width: 100%;
}
h3 {
  font-size: 11px;
  font-weight: 6;
}

.mainimg img {
  width: 100%;
  height: 90%;
}
.addbtn {
  padding: 10px;
  font-size: 20px;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  margin-left: 67%;
  text-align: center;
  border-color: rgb(39, 61, 227);
}
.addbtn a {
  text-decoration: none;
}
.addbtn:hover {
  background-color: rgb(39, 61, 227);
}
.addbtn:hover a {
  color: #fff;
}
.item {
  border-color: #000;
  width: 925px;
  height: 230px;
  padding-left: 20px;
}

.item table {
  color: black;
}

.updatebtn {
  padding: 5px;
  width: 130px;
  height: 30px;
  border-radius: 20px;
  margin-top: 1%;
  margin-left: 7%;
  text-align: center;
  border-color: darkgreen;
}
.updatebtn a{
  text-decoration: none;
  color: #000;
}
.updatebtn:hover {
  background-color: darkgreen;
}
.updatebtn:hover a{
  color: #fff;
}
.deletebtn {
  padding: 5px;
  width: 130px;
  height: 30px;
  border-radius: 20px;
  margin-top: 4%;
  margin-left: 2%;
  text-align: center;
  border-color: #ff0000;
}
.deletebtn a{
  text-decoration: none;
  color: #000;
}
.deletebtn:hover {
  background-color:#ff0000;
}
.deletebtn:hover a{
  color: #fff;
}
.textarea {
  width: 750px;
  height: 100px;
}
.textarea2 {
  width: 300px;
  height: 60px;
}
.main i{
  color:#000;
  min-width: 50px;
}
a{
  text-decoration: none;
}
.addform form {
  box-sizing: border-box;
  position: absolute;
  width: 800px;
  height: auto;
  top: 110px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #746d6d;
  border-radius: 30px;
}
.addform form table {
  margin: 20px;
  margin-bottom: 0px;
}
.addform form td {
  color: #000;
  width: 300px;
  border-style: none;
  border: 0px;
}
.addform form tr {
  height: 50px;
}
.addform form input {
  height: 40px;
  margin-top: 10px;
}

.form-actions {
  display: flex;
  align-items: right;
  gap: 1rem;
  margin-left: 520px;
  margin-bottom: 10px;
}

.submitbtn {
  font-size: 20px;
  border-radius: 20px;
  text-align: center;
  padding: 0.5rem 1rem;
  border-color: darkgreen;
}
.submitbtn:hover {
  background-color: darkgreen;
}
.submitbtn:hover a{
  color: #fff;
}
.discardbtn {
  font-size: 20px;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  text-align: center;
  border-color: #ff0000;
  background-color: rgba(255,255, 255, 0.4);
}

.discardbtn a{
  text-decoration: none;
  color: #000;
}
.discardbtn:hover {
  background-color: #ff0000;
}
.discardbtn:hover a{
  color: #fff;
}
.item-card {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to left, #faeded, #e9e6e6);
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 2px solid rgba(0, 0, 0, 0.3);
}
.item-card:hover{
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
}
.item-card img {
  width: 100px;
  height: 100px;
}

.item-card h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.item-card div:nth-child(2) > div > div {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.8rem;
}

.item-card div:nth-child(2) > div > div > label {
  width: 50%;
}

.item-card div:nth-child(2) > div > div > input {
  width: 50%;
}

.item-card div:nth-child(2) {
  width: 300px;
  gap: 1rem;
  font-size: 0.8rem;
}

.item-card > div:last-child {
  width:25%;
  flex-direction: column;
  gap: 1rem;
  font-size: 0.8rem;
}

.label {
  padding: 10px;
  font-size: 20px;
  position: absolute; 
  width: 200px;
  height: 40px;
  left: 400px; 
  top: 200px; 
  margin: 200px;
  text-align: center;
  background: #fff;
  border-color: rgb(39, 61, 227);
}
.label a {
  text-decoration: none;
  color: #000;
}
.label:hover {
  background-color: rgb(39, 61, 227);
}
.label:hover a {
  color: #000;
}

.topnav{
  overflow: hidden;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
