<!DOCTYPE html>
<!-- <?php 
include APPROOT. '/views/inc/navbar.php';
?> -->
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Whatsapp UI</title>
	<link rel="stylesheet" href="msgstyle.css">
</head>
<body>
	<div class="container">
		<div class="chat">
			<div class="chat-header">
				<div class="profile">
					<div class="left">
						<img src="arrow.png" class="arrow">
						<img src="dp.png" class="pp">
						<h2>nimal</h2>
						<span>online</span>
					</div>
				</div>
			</div>
			<div class="chat-box">
				<div class="chat-r">
					<div class="sp"></div>
					<div class="mess mess-r">
						<p>
                            Hi, Elias
						</p>
						<div class="check">
							<span>4:00 PM</span>
							<img src="img/check-2.png">
						</div>
					</div>
				</div>
				<div class="chat-l">
					<div class="mess">
						<p>
                            Oh! hi 
						</p>
						<div class="check">
							<span>4:00 PM</span>
						</div>
					</div>
					<div class="sp"></div>
				</div>

				<div class="chat-r">
					<div class="sp"></div>
					<div class="mess mess-r">
						<p>
                           How are you doing?
						</p>
						<div class="check">
							<span>4:00 PM</span>
							<img src="img/check-2.png">
						</div>
					</div>
				</div>
				<div class="chat-l">
					<div class="mess">
					    <p>I'm doing alright. How about you?</p>
						<div class="check">
							<span>4:00 PM</span>
						</div>
					</div>
					<div class="sp"></div>
				</div>

				<div class="chat-r">
					<div class="sp"></div>
					<div class="mess mess-r">
						<p>
                           Not too bad. The weather is great isn't it?
						</p>
						<div class="check">
							<span>4:00 PM</span>
							<img src="img/check-2.png">
						</div>
					</div>
				
			</div>

			<div class="chat-footer">
				<textarea placeholder="Type a message"></textarea>
			</div>
		</div>
	</div>
	
</body>
</html>